DB_USER=umbrella_user
DB_PASSWORD=secret_password_aqui
DB_NAME=umbrella_db
DB_HOST=localhost
DB_PORT=5432
DATABASE_URL=postgresql+asyncpg://umbrella_user:secret_password_aqui@localhost:5432/umbrella_db
#Email Service Configuration (src/umbrella/utils/AlertService.py)
EMAIL_SENDER=tu-email@gmail.com
EMAIL_APP_PASSWORD=tu-clave-de-aplicacion-de-google