DB_USER=ministerio_user
DB_PASSWORD=secret_password
DB_NAME=postgres-db
DB_HOST=localhost
DB_PORT=5433
DATABASE_URL=postgresql+asyncpg://ministerio_user:secret_password_aqui@localhost:5432/ministerio_user
ADMIN_USER="nombre@admin"
ADMIN_PASSWORD="secret_password_admin"
EMAIL_SENDER=tu_correo@gmail.com
EMAIL_APP_PASSWORD=tu_contraseña_de_aplicacion
