fastapi
uvicorn[standard]
pydantic-settings
fastapi[cors]
pydantic
httpx
sqlalchemy
asyncpg
python-jose[cryptography]
prometheus-fastapi-instrumentator
fastapi-mail
passlib==1.7.4
bcrypt==4.1.3
python-multipart